.navbar {
  top: 0;
  width: 100%;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 50px;
}

.mat-toolbar {
  color: white;
  text-align: center;
}

.app-title {
  margin-left: 40%;
  margin-top: 15px;
}

a {
  color: #fff;
  right: 0;
  float: right;
  margin-left: 50px;
  font-size: 16px;
  text-decoration: none;
}

.container-fluid {
  display: flex;
}

.container-right {
  position: absolute;
  right: 0;
}
