@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Ubuntu";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

form {
  width: 300px;
  margin: 35px auto 100px;
  display: block;
  float: none;
}
